html,body{
    background-color: #21232a;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    padding: 50px;
}

button{
    padding: 10px;
    font-size: 1.25rem;
    margin: 5px;
    border-radius: 10%;
    border: none;
    height: 50px;
    align-content: center;
    text-align: center;
}

.but{
    width: 50px;
    border-radius: 50%;
    }